In [81]:
import pandas as pd
import numpy as np

In [82]:
d1 = pd.read_table(r'C:\\迅雷下载\\XAGUSD.txt',sep=',')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

In [83]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3366923 entries, 0 to 3366922
Data columns (total 8 columns):
<TICKER>        object
<DTYYYYMMDD>    int64
<TIME>          int64
<OPEN>          float64
<HIGH>          float64
<LOW>           float64
<CLOSE>         float64
<VOL>           int64
dtypes: float64(4), int64(3), object(1)
memory usage: 205.5+ MB

In [84]:
d1.head(1)

  <TICKER>  <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
0   XAGUSD      20010102  230300    4.58    4.58   4.58     4.58      4

In [85]:
d1_1 = d1.loc[2000000:,:]

In [86]:
d1_14_19 = d1_1.to_csv(r'C:\\迅雷下载\\XAGUSD_14_19.txt')

In [87]:
d1_1.head(1)

        <TICKER>  <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
2000000   XAGUSD      20140411  123500    20.0   20.02   20.0    20.02      4

In [117]:
# d1_1.loc[2000000:,:]["<TIME>"].values[0]
# d1_1.loc[2000000:,:]["<DTYYYYMMDD>"].values[0]
# d1_1.loc[2000000:,:]["<OPEN>"].values[0]
# d1_1.loc[2000000:,:]["<HIGH>"].values[0]
# d1_1.loc[2000000:,:]["<LOW>"].values[0]
# d1_1.loc[2000000:,:]["<CLOSE>"].values[0]
# d1_1.loc[2000000:,:]["<VOL>"].values[0]

123500

In [89]:
#1 step: find the 5mins k line parameter

In [90]:
YMD = []
TIME = []
OPEN = []
HIGH = []
LOW = []
CLOSE = []

dict_ = {'YMD':YMD,'TIME':TIME,'OPEN':OPEN,'HIGH':HIGH,'LOW':LOW,'CLOSE':}

In [92]:
MIN_5 = pd.DataFrame(dict_)

In [50]:
d1_1.tail(1)

        <TICKER>  <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>  <LOW>  <CLOSE>  <VOL>
3366922   XAGUSD      20190630  235900   15.23   15.23  15.23    15.23      4

In [49]:
a = 3366922 - 2000000
a

1366922

In [ ]:
for i in range(1366922):
    dict_["YMD"]= d1_1['<DTYYYYMMDD>'][i]
    i += 5